#computer{
    height: 200px;
    width: 142px;
    margin: 0 auto;
}

h2{
    text-align: center;
    font-size: 10vh;
    color: blueviolet;
}

img{
    width: 150px;
    /* transition: all 300ms ease-in; */
}

img:active{
    transform: scale(1.2);
}

button{
 border: 0;
 outline: 0;
 margin: 0 30px;
}



#human{

    background-color: rgba(235,235,235);
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 atuo;
    
}

#score{
    text-align: center;
    margin-top: 5vh;
    font-size: 7vh;
}